<!-- app/views/todos/_todo.html.erb -->
<li class="navbar-nav me-auto mb-2 mb-lg-0 nav-item"
id="<%= "#{dom_id(blog_post)}_item" %>" class="py-3">
  <%= turbo_frame_tag dom_id(blog_post) do %>
    <div class="flex items-center justify-between">
      <%= link_to blog_post.title, edit_blog_post_path(blog_post),
      class: "flex-1 #{"line-through opacity-50" if blog_post.complete?}" %>
      <%= link_to blog_post.publish, edit_blog_post_path(blog_post),
      class: "flex-1 #{"line-through opacity-50" if blog_post.complete?}" %>
      <%= link_to blog_post.body, edit_blog_post_path(blog_post),
      class: "flex-1 #{"line-through opacity-50" if blog_post.complete?}" %>
      <div class="flex items-center space-x-3">
        <% if blog_post.complete? %>
          <%= button_to "Srđan nepotpuna", blog_post_path(blog_post, blog_post: {
status: 'incomplete'}), method: :patch, class: "bg-neutral-50 px-3 py-2 rounded
inline-flex items-center justify-center text-neutral-600" %>
        <% else %>
          <%= button_to "Srđan kompletan", blog_post_path(blog_post,
          blog_post: { status: 'complete'}), method:
:patch, class: "bg-green-50 px-3 py-2 rounded inline-flex items-center
justify-center text-green-600" %>
        <% end %>

        <%= button_to "Delete", blog_post_path(blog_post),
        method: :delete, class: "bg-red-50 px-3 py-2 rounded
        inline-flex items-center justify-center text-red-600" %>
      </div>
    </div>
  <% end %>
</li>
