<select>
  <option></option>
  <% root_tags.each do |tag| %>
    <option><%=tag.name%></option>
    <% category.all_children2.each do |child| %>
      <option><%=child.html_safe%></option>
    <% end %>
  <% end %>
</select>

<% if @tag.novines.last.image.attached? %>
  <%= link_to image_tag(@tag.novines.last.image,
  style:"width:480px; heigh:auto; nav-link; nav-right;"),
  @tag.novines.last.image %>
<% end %>
<h5><%= @tag.select(:parent_id,options_for_select(tag_options_array), {}, class: 'form-control') %>
</h5>

<% if @tag.novines.last.image.attached? %>
<a class="largeThumb"
href="/novines/<%= @tag.novines.last.id %>"
class="strip img-fluid" tentacle-id="5243898-8f"
alt="<% @tag.novines.last.title %>"
title="<% @tag.novines.last.title %>">
<% image_tag(@tag.novines.last.image,
  style:"width:480px; heigh:auto; nav-link; nav-right;") %>
<% end %>
  <% @tag.novines.last.title %>
</a>
<% if @article.image.attached? %>
<%= link_to image_tag(@article.image,
style:"width:640px; heigh:auto"), @article.image %>
<% end %>
<%= image_tag(@tag.novines.last.image, class: 'novine-image__img')
if @tag.novines.last.image.attached? %>
<% image_tag(@tag.novines.last.image,
  style:"width:480px; heigh:auto; nav-link; nav-right;") %>                    <% end %>
alt="<% @tag.novines.last.title %>"
title="<% @tag.novines.last.title %>"
<a href="/tags/<% @tag.id %>/<% @tag.novines.last.title %>"
  <%= @tag.novines.last.title %></a>
  <a tentacle-id="5243898-90" href="/tags/
  <% @tag.id %>/<% @tag.novines.last.body %>">
  <time class="dateline text-muted" role="" itemprop="datePublished" datetime="28.03.2023 09:13" data-timestamp="1679987580">
    <small><%= @tag.novines.last.publish %></small>
  </time>
  </a>

<%= render 'tags/novine' %>
<%= @tag.novines.last.truncate(strip_tags(@tag.novines.last.body.to_s), length:180) %>
<%= @tag.novines.last.body %>
truncate(strip_tags(novine.body.to_s), length:180)
<% @tag.novines.last.title %>"
<time class="dateline text-muted" role="" itemprop="datePublished" datetime="28.03.2023 09:13" data-timestamp="1679987580">
  <small><%= @tag.novine.publish %></small>
</time>
<%= @tag.truncate(strip_tags(novine.body.to_s), length:180) %>
<img src="/upload//media/2023/6/28/15/1/953/1660134/thumbs/2502105/djere.jpg"
style="" class=" img-fluid"
alt="Ђере елиминисао Мусетија за полуфинале Хамбурга"
title="Ђере елиминисао Мусетија за полуфинале Хамбурга (EPA-EFE/FABIO FRUSTACI)">
  <%= novines.last.id %>
  <% end %>
.novines.last
do |n|
<a href="/sport/tenis/5243898/djere-eliminisao-musetija-za-polufinale-hamburga.html"
tentacle-id="5243898-90">
Ђере елиминисао Мусетија за полуфинале Хамбурга</a></h3>
<hr />
/<% novines.last.id %>
