<div id="<%= dom_id novine %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= link_to novine.title, novine_path(novine),
    class: "text-orange-600 underline hover:text-orange-700" %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= link_to novine.name, novine_path(novine),
    class: "text-orange-600 underline hover:text-orange-700" %>
  </p>
  <hr />
  <% if novine.image.content_type.in?(%w[image/jpeg image/png image/jpg]) %>
    <%= link_to image_tag(novine.image,
    style:"width:300px, height:300px"), novine.image %>
  <% end %>
  <hr />
  <p>
    <strong class="block font-medium mb-1">
      Tags:</strong>
      <%= novine.tags.each do |tag| %>
        <%= link_to tag, style: "text-deciration:none" do %>
        <spat class="tag" %>
      <% end %>
    <%= novine.tag_names %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Publish:</strong>
    <%= novine.publish %>
  </p>
  <hr />
  <%= novine.body %>
  <hr />
  <% if action_name != "show" %>
    <%= link_to "Show this novine", novine, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this novine', edit_novine_path(novine), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
